.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html,
body,
.App {
  height: 100%;
}

.welcome {
  background: url(welcome.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postboomer {
  background-image: url(friends.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeinfo {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  width: 50%;
  height: 33%;
  padding: 2%;
}

.userinput {
  margin-top: auto;
  margin-bottom: auto;
}

.millenial {
  background-image: url(milennial.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genz {
  background-image: url(generationz.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boomers {
  background-image: url(babyboomer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traditionalist {
  background-image: url(traditionalist.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facts {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  width: 50%;
  height: 33%;
  padding: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

#root {
  height: 100%;
}
